<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lty.rt.passengerFlows.mapper.IndexPsgFlowMapper">

	<select id="queryTotalPsgFlowForToday" resultType="java.util.HashMap"
		parameterType="java.util.Map">
		SELECT NVL(SUM(T.ONBUS_PERSON_COUNT + T.OFFBUS_PERSON_COUNT),0)
		TOTAL_PERSON_COUNT
		FROM PJMK_STATION_PSGFLOW T
		WHERE T.OCCUR_TIME &gt; = TRUNC(SYSDATE)
	</select>
	
	<select id="queryMaxStationAndCommunityPsgFlowForToday" resultType="java.util.HashMap"
		parameterType="java.util.Map">
		SELECT NVL(A.MAXARE, '')
		MAXARE,NVL(A.TOTAL_PERSON_COUNT,0)MAXAREACOUNT, NVL(B.MAXPLATFORM, '')
		MAXPLATFORM,NVL(B.TOTAL_PERSON_COUNT,0)MAXPLATFORMCOUNT
		FROM (SELECT T.AREA_NAME MAXARE,T.TOTAL_PERSON_COUNT
		FROM (SELECT T.AREA_NAME,
		SUM(T.ONBUS_PERSON_COUNT + T.OFFBUS_PERSON_COUNT) TOTAL_PERSON_COUNT
		FROM V_AREA_PSGFLOW T
		WHERE T.DD = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
		GROUP BY T.AREA_NAME
		ORDER BY TOTAL_PERSON_COUNT DESC) T
		WHERE ROWNUM = 1) A,
		(SELECT PLATFORM_NAME MAXPLATFORM,T.TOTAL_PERSON_COUNT
		FROM (SELECT T.PLATFORM_NAME,
		SUM(T.ONBUS_PERSON_COUNT + T.OFFBUS_PERSON_COUNT) TOTAL_PERSON_COUNT
		FROM PJMK_STATION_PSGFLOW T
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD') =
		TO_CHAR(SYSDATE, 'YYYY-MM-DD')
		GROUP BY T.PLATFORM_NAME
		ORDER BY TOTAL_PERSON_COUNT DESC) T
		WHERE ROWNUM = 1) B
	</select>
	
	
	<select id="queryTopPlatformPsgFlowForToday" resultType="java.util.HashMap"
		parameterType="java.util.Map">

		WITH A AS (SELECT *
		FROM (SELECT T.PLATFORM_NAME,T.PLATFORM_ID,
		SUM(T.ONBUS_PERSON_COUNT + T.OFFBUS_PERSON_COUNT) TOTAL_PERSON_COUNT
		FROM PJMK_STATION_PSGFLOW T
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE,'YYYY-MM-DD')
		GROUP BY T.PLATFORM_ID,T.PLATFORM_NAME
		ORDER BY TOTAL_PERSON_COUNT DESC,TOTAL_PERSON_COUNT DESC) T
		WHERE ROWNUM &lt;= 10)
		(SELECT A.*,'A' AS DATATYPE FROM A)
		UNION ALL
		(SELECT T.PLATFORM_NAME,T.PLATFORM_ID,NVL(SUM(T.ONBUS_PERSON_COUNT +
		T.OFFBUS_PERSON_COUNT),0) TOTAL_PERSON_COUNT,'C'AS DATATYPE FROM A LEFT
		JOIN PJMK_STATION_PSGFLOW T ON A.PLATFORM_ID = T.PLATFORM_ID
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-7,'YYYY-MM-DD')
		GROUP BY T.PLATFORM_ID,T.PLATFORM_NAME) UNION
		(SELECT T.PLATFORM_NAME,T.PLATFORM_ID,NVL(SUM(T.ONBUS_PERSON_COUNT +
		T.OFFBUS_PERSON_COUNT),0) TOTAL_PERSON_COUNT,'B'AS DATATYPE FROM A LEFT
		JOIN PJMK_STATION_PSGFLOW T ON A.PLATFORM_ID = T.PLATFORM_ID
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-1,'YYYY-MM-DD')
		GROUP BY T.PLATFORM_ID,T.PLATFORM_NAME)
		ORDER BY DATATYPE,TOTAL_PERSON_COUNT DESC
	</select>
	
	<select id="queryTopCommunityPsgFlowForToday" resultType="java.util.HashMap"
		parameterType="java.util.Map">

		WITH A AS ( SELECT *
		FROM (SELECT T.AREA_NAME,T.AREA_CODE,
		SUM(T.ONBUS_PERSON_COUNT + T.OFFBUS_PERSON_COUNT) TOTAL_PERSON_COUNT
		FROM V_AREA_PSGFLOW T
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE,'YYYY-MM-DD')
		GROUP BY T.AREA_CODE,T.AREA_NAME
		ORDER BY TOTAL_PERSON_COUNT DESC,T.AREA_CODE) T
		WHERE ROWNUM &lt;= 10 )
		(SELECT A.*,'A' AS DATATYPE FROM A) UNION ALL
		(SELECT T.AREA_NAME,T.AREA_CODE,NVL(SUM(T.TOTAL_PERSON_COUNT),0)
		TOTAL_PERSON_COUNT,'C' AS DATATYPE FROM A LEFT JOIN V_AREA_PSGFLOW T ON
		T.AREA_CODE = A.AREA_CODE
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-7,'YYYY-MM-DD')
		GROUP BY T.AREA_CODE,T.AREA_NAME) UNION ALL
		SELECT T.AREA_NAME,T.AREA_CODE,NVL(SUM(T.TOTAL_PERSON_COUNT),0)
		TOTAL_PERSON_COUNT,'B' AS DATATYPE FROM A LEFT JOIN V_AREA_PSGFLOW T ON
		T.AREA_CODE = A.AREA_CODE
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-1,'YYYY-MM-DD')
		GROUP BY T.AREA_CODE,T.AREA_NAME
		ORDER BY DATATYPE,TOTAL_PERSON_COUNT DESC
	</select>
	
	
	<select id="queryMaxCrowdedPsgFlowForToday" resultType="java.util.HashMap"
				parameterType="java.util.Map">
		WITH A AS (SELECT T.LINE_ID,T.LINE_NAME,
		TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD HH24') HH,
		SUM(T.TOTAL_PERSON_COUNT) TOTAL_PERSON_COUNT
		FROM PJMK_STATION_PSGFLOW T
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD HH24') =
		TO_CHAR(SYSDATE-1/24,'YYYY-MM-DD HH24')
		GROUP BY T.LINE_ID,T.LINE_NAME, TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD HH24')
		ORDER BY TOTAL_PERSON_COUNT DESC),
		B AS (SELECT T.LINEID,SUM(T.POPNUM)POPNUM FROM PJMK_BUS
		T,PJMK_STATION_PSGFLOW SP,A WHERE
		T.ONBOARDID = SP.ONBOARD_ID(+)
		AND TO_CHAR(SP.OCCUR_TIME, 'YYYY-MM-DD HH24') = A.HH
		AND SP.LINE_ID=A.LINE_ID
		GROUP BY T.LINEID)
		SELECT * FROM (SELECT A.LINE_NAME,ROUND(A.TOTAL_PERSON_COUNT/B.POPNUM,4)*100
		UTILISED
		FROM A ,B WHERE A.LINE_ID = B.LINEID ORDER BY UTILISED DESC) WHERE ROWNUM=1
	</select>	
	
	<select id="queryAVGCrowdedPsgFlow" resultType="java.util.HashMap"
			parameterType="java.util.Map">

		WITH A AS (SELECT T.LINE_ID,T.LINE_NAME,
		TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD HH24') HH,
		SUM(T.TOTAL_PERSON_COUNT) TOTAL_PERSON_COUNT
		FROM PJMK_STATION_PSGFLOW T
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD HH24') = TO_CHAR(SYSDATE-1/24,'YYYY-MM-DD HH24')
		GROUP BY T.LINE_ID,T.LINE_NAME, TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD HH24')
		ORDER BY TOTAL_PERSON_COUNT DESC),
		B AS (SELECT T.LINEID,SUM(T.POPNUM)POPNUM FROM PJMK_BUS
		T,PJMK_STATION_PSGFLOW SP,A WHERE
		T.ONBOARDID = SP.ONBOARD_ID(+)
		AND TO_CHAR(SP.OCCUR_TIME, 'YYYY-MM-DD HH24') = A.HH
		AND SP.LINE_ID=A.LINE_ID
		GROUP BY T.LINEID),
		C AS (SELECT
		A.LINE_NAME,A.LINE_ID,AVG(ROUND(A.TOTAL_PERSON_COUNT/B.POPNUM,4))
		UTILISED FROM A ,B WHERE A.LINE_ID = B.LINEID GROUP BY
		A.LINE_NAME,A.LINE_ID )
		SELECT NVL(ROUND(AVG(C.UTILISED),4)*100,0) avgLinePsgToday FROM C
		
		
	</select>	
	
	<select id="queryTopCrowdedPsgFlow" resultType="java.util.HashMap"
			parameterType="java.util.Map">

		WITH A AS (SELECT T.LINE_ID,T.LINE_NAME,
		TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD HH24') HH,
		SUM(T.TOTAL_PERSON_COUNT) TOTAL_PERSON_COUNT
		FROM PJMK_STATION_PSGFLOW T
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD HH24') = TO_CHAR(SYSDATE-1/24,
		'YYYY-MM-DD HH24')
		GROUP BY T.LINE_ID,T.LINE_NAME, TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD HH24')
		ORDER BY TOTAL_PERSON_COUNT DESC),
		B AS (SELECT T.LINEID,SUM(T.POPNUM)POPNUM FROM PJMK_BUS
		T,PJMK_STATION_PSGFLOW SP,A WHERE
		T.ONBOARDID = SP.ONBOARD_ID(+)
		AND TO_CHAR(SP.OCCUR_TIME, 'YYYY-MM-DD HH24') = A.HH
		AND SP.LINE_ID=A.LINE_ID
		GROUP BY T.LINEID),
		D AS (SELECT T.LINE_ID,T.LINE_NAME,
		TO_CHAR(T.OCCUR_TIME, 'HH24') HH,
		SUM(T.TOTAL_PERSON_COUNT) TOTAL_PERSON_COUNT
		FROM PJMK_STATION_PSGFLOW T
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD HH24') = TO_CHAR(SYSDATE-7-1/24,
		'YYYY-MM-DD HH24')
		GROUP BY T.LINE_ID,T.LINE_NAME, TO_CHAR(T.OCCUR_TIME, 'HH24')
		ORDER BY TOTAL_PERSON_COUNT DESC),
		E AS (SELECT T.LINEID,SUM(T.POPNUM)POPNUM FROM PJMK_BUS
		T,PJMK_STATION_PSGFLOW SP,A WHERE
		T.ONBOARDID = SP.ONBOARD_ID(+)
		AND TO_CHAR(SP.OCCUR_TIME, 'YYYY-MM-DD HH24') = A.HH
		AND SP.LINE_ID=A.LINE_ID
		GROUP BY T.LINEID),
		C AS (SELECT * FROM (SELECT
		A.LINE_NAME,A.LINE_ID,ROUND(A.TOTAL_PERSON_COUNT/B.POPNUM,4)*100
		UTILISED
		FROM A ,B WHERE A.LINE_ID = B.LINEID ORDER BY UTILISED DESC) WHERE ROWNUM
		&lt;= 10),
		F AS (SELECT * FROM (SELECT
		D.LINE_NAME,D.LINE_ID,ROUND(D.TOTAL_PERSON_COUNT/E.POPNUM,4)*100
		UTILISED
		FROM D ,E WHERE D.LINE_ID = E.LINEID ORDER BY UTILISED DESC) WHERE ROWNUM
		&lt;= 10),
		G AS (SELECT T.LINE_ID,T.LINE_NAME,
		TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD HH24') HH,
		SUM(T.TOTAL_PERSON_COUNT) TOTAL_PERSON_COUNT
		FROM PJMK_STATION_PSGFLOW T
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD HH24') = TO_CHAR(SYSDATE-1-1/24,
		'YYYY-MM-DD HH24')
		GROUP BY T.LINE_ID,T.LINE_NAME, TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD HH24')
		ORDER BY TOTAL_PERSON_COUNT DESC),
		H AS (SELECT T.LINEID,SUM(T.POPNUM)POPNUM FROM PJMK_BUS
		T,PJMK_STATION_PSGFLOW SP,G WHERE
		T.ONBOARDID = SP.ONBOARD_ID(+)
		AND TO_CHAR(SP.OCCUR_TIME, 'YYYY-MM-DD HH24') = G.HH
		AND SP.LINE_ID=G.LINE_ID
		GROUP BY T.LINEID),
		I AS (SELECT * FROM (SELECT
		G.LINE_NAME,G.LINE_ID,ROUND(G.TOTAL_PERSON_COUNT/H.POPNUM,4)*100
		UTILISED
		FROM G ,H WHERE G.LINE_ID = H.LINEID ORDER BY UTILISED DESC) WHERE ROWNUM
		&lt;= 10)
		(SELECT C.LINE_NAME,C.LINE_ID,C.UTILISED,'A' AS DATATYPE FROM C) UNION ALL
		(SELECT F.LINE_NAME,F.LINE_ID,F.UTILISED,'C' AS DATATYPE FROM F) UNION
		ALL
		(SELECT I.LINE_NAME,I.LINE_ID,I.UTILISED,'B' AS DATATYPE FROM I)
		ORDER BY DATATYPE,UTILISED DESC
			
			
	</select>
	
	<select id="queryVolatilityPsgFlow" resultType="java.util.HashMap"
			parameterType="java.util.Map">
		WITH A AS (SELECT TO_CHAR(T.OCCUR_TIME, 'HH24') HH,
		SUM(T.ONBUS_PERSON_COUNT + T.OFFBUS_PERSON_COUNT) TOTAL_PERSON_COUNT
		FROM PJMK_STATION_PSGFLOW T
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
		GROUP BY TO_CHAR(T.OCCUR_TIME, 'HH24')
		ORDER BY HH, TOTAL_PERSON_COUNT),B AS (SELECT TO_CHAR(T.OCCUR_TIME, 'HH24')
		HH,
		SUM(T.ONBUS_PERSON_COUNT + T.OFFBUS_PERSON_COUNT) TOTAL_PERSON_COUNT
		FROM PJMK_STATION_PSGFLOW T
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-1, 'YYYY-MM-DD')
		GROUP BY TO_CHAR(T.OCCUR_TIME, 'HH24')
		ORDER BY HH, TOTAL_PERSON_COUNT), C AS (SELECT TO_CHAR(T.OCCUR_TIME, 'HH24')
		HH,
		SUM(T.ONBUS_PERSON_COUNT + T.OFFBUS_PERSON_COUNT) TOTAL_PERSON_COUNT
		FROM PJMK_STATION_PSGFLOW T
		WHERE TO_CHAR(T.OCCUR_TIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-7, 'YYYY-MM-DD')
		GROUP BY TO_CHAR(T.OCCUR_TIME, 'HH24')
		ORDER BY HH, TOTAL_PERSON_COUNT)
		SELECT A.*,'A' DATATYPE FROM A
		UNION ALL
		SELECT B.*,'B' DATATYPE FROM B
		UNION ALL
		SELECT C.*,'C' DATATYPE FROM C
	</select>	
	
	
	<select id="queryStaionsPsgFlow" resultType="java.util.HashMap"
			parameterType="java.util.Map">
		SELECT T.*,T2.LONGITUDE,T2.LATITUDE
		FROM (SELECT T.PLATFORM_ID STATION_ID,T.PLATFORM_NAME STATION_NAME,NVL(SUM(T.ONBUS_PERSON_COUNT +
		T.OFFBUS_PERSON_COUNT),0) TOTAL_PERSON_COUNT FROM
		PJMK_STATION_PSGFLOW T
		WHERE TO_CHAR(T.OCCUR_TIME,'YYYY-MM-DD') = TO_CHAR(SYSDATE
		-1/24,'YYYY-MM-DD')
		GROUP BY T.PLATFORM_ID,T.PLATFORM_NAME
		) T,
		PJMK_PLATFORM  T2
		WHERE T2.ID=T.STATION_ID(+)
	</select>	
	


</mapper>