<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lty.rt.psgForecast.mapper.StretchPsgflowForecastMapper">

	<!-- 查询月份预测的客流数据及历史月份的客流数据 -->
	<select id="queryMonthData" resultType="java.util.HashMap"
		parameterType="java.util.Map">
		SELECT
		T.MM,
		SUM(T.ONBUS_PERSON_COUNT + T.OFFBUS_PERSON_COUNT)
		TOTAL_PERSON_COUNT
		FROM v_stretch_psgflow T
		WHERE T.OCCUR_TIME &gt;=
		TO_DATE(#{beginDate}, 'yyyy-mm-dd')
		AND T.OCCUR_TIME &lt;=
		TO_DATE(#{endDate}, 'yyyy-mm-dd')
		<if test="stretchId != null and stretchId!='' ">
			and t.stretch_code=#{stretchId}
		</if>
		GROUP BY T.MM order by T.MM
	</select>


	<!-- 查询预测的站台一个月每天的客流数据量 -->
	<select id="queryDaysData" resultType="java.util.HashMap"
		parameterType="java.util.Map">
<!-- 		SELECT t.dd,
		t.d,
		sum(t.onbus_person_count + t.offbus_person_count)
		total_person_count,
		sum(t.onbus_person_count) onbus_person_count,
		sum(t.offbus_person_count) offbus_person_count
		FROM v_stretch_psgflow T
		WHERE T.OCCUR_TIME &gt;= TO_DATE(#{beginDate}, 'yyyy-mm-dd')
		AND
		T.OCCUR_TIME &lt;= TO_DATE(#{endDate}, 'yyyy-mm-dd')
		<if test="stretchId != null and stretchId!='' ">
			and t.stretch_code=#{stretchId}
		</if>
		and t.d = #{item}
		and t.holiday_flag = (select
		decode(to_char(to_date(#{yc_month}||'-'||#{item},'yyyy-MM-dd'),'D'),7,1,1,1,0)
		from dual)
		group by t.dd, t.d
		order by t.dd -->
		
		SELECT t.dd,
		t.d,
		sum(t.onbus_person_count + t.offbus_person_count)
		total_person_count,
		sum(t.onbus_person_count) onbus_person_count,
		sum(t.offbus_person_count) offbus_person_count
		FROM v_stretch_psgflow T
		<where>
			<if test="stretchId != null and stretchId!='' ">
				and t.stretch_code=#{stretchId}
			</if>
			and t.dd in 
				<foreach collection="items" item="it" open="(" close=")" separator=",">
					#{it}
				</foreach>
		</where>
		group by t.dd, t.d
		order by t.dd
		
	</select>

	<!-- 查询路段断面的经纬度 -->
	<select id="queryStretchsData" resultType="java.util.HashMap"
		parameterType="java.util.Map">
		select v.*, t.linename, t.lineid 
			from v_stretch_lat_lng v 
			join pjmk_stretch t 
			on v.stretchid = t.id
		where 1=1
		<if test="stretchId != null and stretchId !='' ">
			and t.lineid=#{stretchId}
		</if>
	</select>
</mapper>